$icomoon-font-path: "../fonts" !default;

$rb-skype: "\e904";
$rb-linkedin: "\e905";
$rb-codepen: "\e906";
$rb-github: "\e907";
$rb-facebook: "\e908";
$rb-vk: "\e909";
$rb-mail: "\e900";
$rb-portfolio: "\e901";
$rb-share: "\e902";
$rb-userinfo: "\e903";

$rb-font: 'Open Sans', sans-serif;

$black: rgba(33, 33, 32, 1);
$accent: rgba(89, 189, 131, .2);
$white: #efefef;
$accent2: rgba(89, 189, 131, 1);